.red
{
    
    
    border-style: solid;
    border-color: red;
}
.blue
{
   
    border-style: solid;
    border-color: blue;
}
.green
{
    border-style: solid;
    border-color: green;
}
